* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -outline: 0;
    font-family: Roboto, sans-serif, arial;
  }

  html,
  body {
    font-size: 14px;
    font-weight: 400;
    background: url(/img/bg2.jpg);
    color: #fff;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .form {
    --input-focus: #ff00b3;
    --font-color: #ff00d4;
    --font-color-sub: #ff00c8;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: rgba(173, 216, 230, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    width: 300px;
    margin: 100px 360px;
  }

  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 95px;
  }

  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 19px;
  }

  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .input:focus {
    border: 2px solid var(--input-focus);
  }

  .login-with {
    display: flex;
    gap: 20px;
  }

  .button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }

  .container {
    width: 1100px;
    margin: 0px auto;
    display: table;
  }

  .width-33 {
    width: 33%;
    float: left;
  }

  .width-66 {
    width: 66%;
    float: left;
  }

  .main-panel {
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100vh;
  }

  .logo {
    font-size: 40px;
    font-weight: 600;
  }

  .span-col {
    color: #ff00c8;
  }

  #color {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 255, 255);

  }

  nav a:hover {
    color: rgb(255, 0, 221);
    transition: 0.5s ease-out;
  }

  .nav-btn {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.089);
    transition: background-color 0.3s ease;
  }

  .nav-btn:hover {
    background-color: rgba(255, 0, 242, 0.301);
  }